body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.is-desktop {
  display: block;
}
.is-mobile {
  display: none;
}
.is-hidden {
  display: none;
}

@media screen and (max-width: 991px) {
  .is-desktop {
    display: none;
  }
  .is-mobile {
    display: block;
  }
}
