.t0 {
  font-size: 2.5em;
}

.t1 {
  font-size: 2em;
}

.t2 {
  font-size: 1.5em;
}

.t3 {
  font-size: 1.2em;
}

.t4 {
  font-size: 0.8em;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

dl.inline-flex {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 300px;      /* set the container width*/
  overflow: visible;
}

dl.inline-flex dt {
  flex: 0 0 50%;
  text-overflow: ellipsis;
  overflow: hidden;
}

dl.inline-flex dd {
  flex:0 0 50%;
  margin-left: auto;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
