.t0 {
  font-size: 2.5em;
}

.t1 {
  font-size: 2em;
}

.t2 {
  font-size: 1.5em;
}

.t3 {
  font-size: 1.2em;
}

.t4 {
  font-size: 0.8em;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}
